<!DOCTYPE html>
<html>
<head>
      {% include head-meta.html %}
      {% include head-link.html %}
</head>
<body>
 <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="index.html">单客哦朋</a>
          <div class="nav-collapse collapse">
            
            <ul class="nav">
              <li ><a href="index.html">Home</a></li>
              <li><a href="articleList.html" target="_blank">Blog</a></li>
              <li class="active"><a href="about.html">About</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid">
     {{ content }}

      <hr>

    {%include footer.html%}

    </div><!--/.fluid-container-->
  </body>
</html>


{% include basic-jquery.html %}
 {% include basic-bootstrap.html %}
