<!DOCTYPE html>
<html>
<head>　　
  <title>{{ page.title }} | 单客哦朋 | thxopen.com</title>
  {% include head-meta.html %}
  {% include head-link.html %}　　　
</head>
　　<body>
 <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="{{ site.baseurl }}index.html">单客哦朋</a>
          <div class="nav-collapse collapse">
          
            <ul class="nav">
             <li><a href="{{ site.baseurl }}index.html">home</a></li>
              <li class="active"><a href="{{ site.baseurl }}articleList.html">Blog</a></li>
              <li><a href="{{ site.baseurl }}about.html">About</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span12">
        	<h3>{{ page.title }}</h3><h6>{{page.date| date: "%Y-%m-%d"}}</h6>
          <hr size=25>
          {{ content }}
          {% include comments.html %}
        </div><!--/span-->
      </div><!--/row-->

      <hr>

   {%include footer.html%}

    </div><!--/.fluid-container-->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster 
<script src="http://v2.bootcss.com/assets/js/jquery.js"></script>
  -->
    <script src="{{ site.baseurl }}jsPlugin/jquery.min.js"></script>
    
   
  </body>
</html>