<!DOCTYPE html>
<html>
　　<head>
　　　　<meta charset="utf-8">
	    <title>我的Blog</title>
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <meta name="description" content="java html css javascript">
	    <meta name="author" content="keith shan">

	    <!-- Le styles -->
	    <link href="css/bootstrap.css" rel="stylesheet">
       <link href="css/basic.css" rel="stylesheet">
	    <link href="css/bootstrap-responsive.css" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="css/demo_table_jui.css">
  
	    <!-- Fav and touch icons -->
	    <link rel="shortcut icon"  type="image/ico" href="img/ico.ico">
　　</head>
　　<body>
 <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="index.html">5341Code</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
              <a href="#" class="navbar-link">注销</a>
            </p>
            <ul class="nav">
              <li><a href="index.html">主页</a></li>
              <li class="active"><a href="articleList.html">Blog</a></li>
              <li><a href="#about">关于我</a></li>
              <li><a href="#contact">联系我</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
         <div class="span3">
          <ul class="archive">
          {% for tag in site.tags %}
          <li class="year" id="{{tag[0]}}">{{tag[0] tag[1].size}}</li>
            {% for post in tag[1] %}
            <li class="item">
              <time datetime="{{ post.date | date:'%Y-%m-%d' }}">
              {{ post.date | date:"%Y-%m-%d" }}</time>
              <a href="{{post.url}}" title="{{post.title}}">{{ post.title }}</a>
            </li>
            {% endfor %}
        {% endfor %}
        </ul>
        </div>
        <div class="span9">
            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered table-hover" id="articleTable" >
              <thead>
                <tr>
                  <th>标题</th>
                  <th>时间</th>
                </tr>
              </thead>
              <tbody>
                 {{ content }}
              </tbody>
            </table>
        </div><!--/span-->
       
        
      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; Company 2013</p>
      </footer>

    </div><!--/.fluid-container-->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
      <script src="jsPlugin/jquery.min.js"></script>
      <script type="text/javascript" src="jsPlugin/jquery.dataTables.min.js"></script>
      <script type="text/javascript" src="js/datatables.js"></script>
      <script type="text/javascript" src="js/articleList.js"></script>

  </body>
</html>