<!DOCTYPE html>
<html>
　　<head>
　　　　<meta charset="utf-8">
	    <title>{{ page.title }}</title>
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <meta name="description" content="一点一点积累，一步一个脚印">
      <meta name="author" content="keith shan">
      <meta name="keyword" content="" />

	    <!-- Le styles -->
      <link href="http://ssy341.github.io/myblog/css/bootstrap.css" rel="stylesheet">
      <link href="http://ssy341.github.io/myblog/css/bootstrap-responsive.css" rel="stylesheet">
      <link href="http://ssy341.github.io/myblog/css/basic.css" rel="stylesheet">
	    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
	    <!--[if lt IE 9]>
	      <script src="../assets/js/html5shiv.js"></script>
	    <![endif]-->

	    <!-- Fav and touch icons -->
	    <link rel="shortcut icon"  type="image/ico" href="http://ssy341.github.io/myblog/img/ico.ico">
　　　
　　</head>
　　<body>
 <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="http://ssy341.github.io/myblog/index.html">5341Code</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
              <a href="#" class="navbar-link">注销</a>
            </p>
            <ul class="nav">
              <li class="active"><a href="http://ssy341.github.io/myblog/index.html">主页</a></li>
              <li><a href="http://ssy341.github.io/myblog/articleList.html">Blog</a></li>
              <li><a href="#about">关于我</a></li>
              <li><a href="#contact">联系我</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span12">
        	<h3>{{ page.title }}</h3>
          {{ content }}
        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; Company 2013</p>
      </footer>

    </div><!--/.fluid-container-->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster 
<script src="http://v2.bootcss.com/assets/js/jquery.js"></script>
  -->
    <script src="http://ssy341.github.io/myblog/jsPlugin/jquery.min.js"></script>
    
   
  </body>
</html>