<html>
<head>
	 <meta charset="utf-8">
	 <title>{{ page.title }}</title>
	  <!-- Le styles -->
	    <link href="http://v2.bootcss.com/assets/css/bootstrap.css" rel="stylesheet">
	    <style type="text/css">
	      body {
	        padding-top: 60px;
	        padding-bottom: 40px;
	      }
	      .sidebar-nav {
	        padding: 9px 0;
	      }

	      @media (max-width: 980px) {
	        /* Enable use of floated navbar text */
	        .navbar-text.pull-right {
	          float: none;
	          padding-left: 5px;
	          padding-right: 5px;
	        }
	      }
	    </style>
	    <link href="http://v2.bootcss.com/assets/css/bootstrap-responsive.css" rel="stylesheet">

	
</head>
<body>
 {{ content }}
</body>
</html>

    <script src="http://ssy341.github.io/myblog/jsPlugin/jquery.min.js"></script>
    <script type="text/javascript" src="http://ssy341.github.io/myblog/jsPlugin/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="http://ssy341.github.io/myblog/js/datatables.js"></script>
	<script type="text/javascript" src="http://ssy341.github.io/myblog/js/gbtags_curd.js"></script>
	<script type="text/javascript" src="http://ssy341.github.io/myblog/jsplugin/bootstrap.min.js"></script>
	
	 