<!DOCTYPE html>
<html>
　　<head>
　　　　
	    <title>{{ page.title }}</title>
	    {% include head-meta.html %}
      {% include head-link.html %}

　　　
　　</head>
　　<body>
 <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="{{ site.baseurl }}index.html">5341Code</a>
          <div class="nav-collapse collapse">
           
            <ul class="nav">
              <li class="active"><a href="{{ site.baseurl }}index.html">主页</a></li>
              <li><a href="{{ site.baseurl }}articleList.html">Blog</a></li>
              <li><a href="{{ site.baseurl }}about.html">关于我</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span9">
        	<h3>{{ page.title }}</h3>
        	<div class="row-fluid">
            {{ content }}
        	</div>
        </div><!--/span-->
        
      </div><!--/row-->

      <hr>

     {%include footer.html%}
    </div><!--/.fluid-container-->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster 
<script src="http://v2.bootcss.com/assets/js/jquery.js"></script>
  -->
   
       {% include basic-jquery.html %}
        {% include basic-bootstrap.html %}
         {% include datatables-js.html %}
      <script type="text/javascript" src="{{ site.baseurl }}js/datatables.js"></script>
      <script type="text/javascript" src="{{ site.baseurl }}js/gbtags_datatables.js"></script>
   
  </body>
</html>