<!DOCTYPE html>
<html>
　　<head>
	    <title>Thanks Open</title>
      {% include head-meta.html %}
      {% include head-link.html %}


　　</head>
　　<body>
 <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="index.html">5341Code</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
              <a href="http://www.gbtags.com/gb/site/54341.htm" class="navbar-link" target="_blank">GBtags</a>
            </p>
            <ul class="nav">
              <li class="active"><a href="index.html">主页</a></li>
              <li><a href="articleList.html" target="_blank">Blog</a></li>
              <li><a href="#about">关于我</a></li>
              <li><a href="https://github.com/ssy341" target="_blank">GitHub</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
            <li class="nav-header">分类</li>
            {% for category in site.categories %}
			<li>
				<a href="categories/{{ category | first }}/" title="view allposts">{{ category | first }} ({{ category | last | size }})</a>
			</li> 
			{% endfor %}
			</ul>
          </div><!--/.well -->
        </div><!--/span  site.posts-->
        <div class="span9">
          <div class="hero-unit">
            <h1>你好，欢迎来到我的Blog!</h1>
            <p>我为人人，人人为我</p>
            <p><a href="http://weibo.com/smotive" class="btn btn-primary btn-large" target="_blank">找到我 &raquo;</a></p>
          </div>
          <div class="row-fluid">
             <div class="span4">
                <h2>你好</h2>
                <p style="height:200px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">
                  
                 </p>
                <p><a class="btn" href="#">查看 &raquo;</a></p>
              </div>
          </div><!--/row-->
        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; Company 2013</p>
      </footer>

    </div><!--/.fluid-container-->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% include basic-jquery.html %}
      {% include basic-bootstrap.html %}

  </body>
</html>