<!DOCTYPE html>
<html>
　　<head>
　　　<title>open导航</title>
	  {% include head-meta.html %}  
	  {% include head-link.html %}    	  
　　</head>
　　<body>
 <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="index.html">5341Code</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
              <a href="http://www.gbtags.com/gb/site/54341.htm" class="navbar-link" target="_blank">PC-GBtags</a>
              <a href="http://www.gbtags.com/gb/mobileexplore.htm" class="navbar-link" target="_blank">M-GBtags</a>
            </p>
            <ul class="nav">
              <li class="active"><a href="{{ site.baseurl }}index.html" target="_blank">主页</a></li>
              <li><a href="{{ site.baseurl }}articleList.html" target="_blank">Blog</a></li>
             <li><a href="{{ site.baseurl }}about.html">关于我</a></li>
              <li><a href="https://github.com/ssy341" target="_blank">GitHub</a></li>
              <li>
				<form class="form-search" style="margin:0;padding:0" method=get action="http://www.google.com/search"  target="_blank">
					<input class="input-medium search-query" type=text name=q style="width:300px">
				    <input class="btn" type=submit name=btnG value="G">
				</form>
              </li>
              <li>
				<form class="form-search" style="margin:0;padding:0" action="http://www.baidu.com/baidu" target="_blank">
				    <input class="input-medium search-query" type=text name=word style="width:300px">
				    <input class="btn" type="submit" value="B">
				</form>
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
          <div class="hero-unit">

			<p>笔记：<a href="https://app.yinxiang.com/Login.action" target="_blank" title="印象">印象</a>
			<a href="http://note.youdao.com/" target="_blank" title="有道">有道</a>
			<a href="http://note.sdo.com/" target="_blank" title="麦库">麦库</a>
			<a href="http://www.wiz.cn/index.html" target="_blank" title="为知">为知</a></p>
			<p>学习：<a href="http://www.baicizhan.com/login" target="_blank" title="百词斩">百词斩</a>
			<a href="http://www.italki.com/" target="_blank" title="italk">italk</a>
			<a href="http://www.bigear.cn/" target="_blank" title="大耳朵">大耳朵</a></p>
			<p>网盘：<a href="http://yunpan.360.cn/" target="_blank" title="360">360</a>
			<a href="http://www.dbank.com/" target="_blank" title="华为">华为</a>
			<a href="http://pan.baidu.com/" target="_blank" title="百度">百度</a></p>
			<p>影音：<a href="http://www.youku.com/" target="_blank" title="优酷">优酷</a>
			<a href="http://www.tudou.com/" target="_blank" title="土豆">土豆</a>
			<a href="http://www.56.com/" target="_blank" title="56">56</a>
			<a href="http://tv.sohu.com/" target="_blank" title="搜狐">搜狐</a></p>
			<p>搜索：<a href="http://www.google.com.tw/" target="_blank" title="Google">Google</a>
                        <a href="http://www.google.ws/" target="_blank" title="Google_ws">Google_ws</a>
			<a href="http://www.baidu.com/" target="_blank" title="百度">百度</a>
			<a href="http://cn.bing.com/" target="_blank" title="bing">bing</a>
			<a href="http://www.so.com/" target="_blank" title="360">360</a></p>
			<p>个人：<a href="http://www.10010.com/" target="_blank" title="联通">联通</a>
			<a href="http://www.10086.cn/hn/" target="_blank" title="移动">移动</a></p>
			<p>Code学习：<a href="http://www.w3school.com.cn/" target="_blank" title="w3c">w3c</a>
			<a href="http://www.w3schools.com/" target="_blank" title="w3s">w3s</a>
			<a href="http://zh.learnlayout.com/" target="_blank" title="Css">Css</a></p>
			<p>Coding：
			<a href="https://translate.google.com/toolkit/" target="_blank" title="translate">google translate</a>
			<a href="http://stackoverflow.com/" target="_blank" title="stackoverflow">stackoverflow</a>
			<a href="http://programmers.stackexchange.com/" target="_blank" title="stackexchange">stackexchange</a>
			<a href="http://www.infoq.com/cn/" target="_blank" title="infoq">infoq</a>
			<a href="http://www.csdn.net/" target="_blank" title="CSDN">CSDN</a>
			<a href="http://www.iteye.com/" target="_blank" title="iteye">iteye</a>
			<a href="http://www.itpub.net/" target="_blank" title="itpub">itpub</a>
			<a href="http://www.51cto.com/" target="_blank" title="51cto">51cto</a>
			<a href="http://www.cnblogs.com/" target="_blank" title="cnblogs">cnblogs</a>
			<a href="http://www.oschina.net/" target="_blank" title="oschina">oschina</a>
			<a href="http://www.chinaunix.net/" target="_blank" title="chinaunix">chinaunix</a></p>
			<p><a href="http://julying.com/" target="_blank" title="前端工程师">前端工程师</a>
			<a href="http://www.dewen.org/" target="_blank" title="德问">德问</a>
			<a href="http://www.zhihu.com/" target="_blank" title="知乎">知乎</a>
			<a href="http://www.ituring.com.cn/" target="_blank" title="图灵社区">图灵社区</a>
			<a href="http://www.zol.com.cn/" target="_blank" title="中关村">中关村</a>
			<a href="http://www.it168.com/" target="_blank" title="it168">it168</a>
			<a href="http://www.icpcw.com/" target="_blank" title="电脑报">电脑报</a>
			<a href="http://runjs.cn/" target="_blank" title="RunJS">RunJS</a>
			<a href="http://forum.ubuntu.org.cn/" target="_blank" title="ubuntu">ubuntu论坛</a></p>
			<p>代码托管：<a href="https://code.google.com/intl/zh-CN/" target="_blank" title="Google Code">GoogleCode</a>
			<a href="https://code.csdn.net/" target="_blank" title="CSDN Code">CSDNCode</a>
			<a href="https://github.com/ssy341" target="_blank" title="GitHub">GitHub</a>
			<a href="http://code.taobao.org" target="_blank" title="TaobaoCode">淘宝Code</a>
			<a href="https://code.jd.com" target="_blank" title="jdCode">京东Code</a>
			</p>
			<p>linux:
			<a href="http://vbird.dic.ksu.edu.tw/" target="_blank" title="鸟哥私房菜">鸟哥私房菜</a>
			<a href="http://linux.vbird.org/" target="_blank" title="繁体版">繁体版</a></p>
			<p>云:
			<a href="http://os.51cto.com/art/201111/304714.htm" target="_blank" title="openstack">openstack-51cto专题</a>
			<a href="http://www.openstack.org.cn/" target="_blank" title="openstack">openstack中国社区</a>
			</p>
			<p>博客：<a href="http://avnpc.com/" target="_blank" title="avnpc">avnpc</a>
			<a href="http://coolshell.cn/" target="_blank" title="酷壳">酷壳</a>
			<a href="http://www.ruanyifeng.com/blog/" target="_blank" title="阮一峰">阮一峰</a>
			<a href="http://www.seozac.com/" target="_blank" title="seo">seo每日一贴</a>
			</p>
			<p>前端插件：<a href="http://datatables.net/index" target="_blank" title="Datetables">Datetables</a>
			<a href="http://www.ztree.me/v3/main.php#_zTreeInfo" target="_blank" title="zTree">zTree</a>
			<a href="http://posabsolute.github.io/jQuery-Validation-Engine/" target="_blank" title="jQuery.validationEngine">jQuery.validationEngine</a>
			<a href="http://needim.github.io/noty/" target="_blank" title="noty">noty</a>
			<a href="http://www.highcharts.com/" target="_blank" title="highcharts">highcharts</a>
			<a href="http://www.kminek.pl/lab/yetii/" target="_blank" title="yetii">yetii</a>
			<a href="http://trirand.com/blog/jqgrid/jqgrid.html" target="_blank" title="jqgrid">jqgrid</a>
			<a href="http://www.bootcss.com/" target="_blank" title="Bootstrap">Bootstrap</a></p>
			<p>API：
			<a href="http://docs.oracle.com/javase/1.5.0/docs/api/" target="_blank" title="jdk 5">jdk 5</a>
			<a href="http://docs.oracle.com/javase/6/docs/api/" target="_blank" title="jdk 6">6</a>
			<a href="http://docs.oracle.com/javase/7/docs/api/" target="_blank" title="jdk 7">7</a> ||
			<a href="http://api.jquery.com/" target="_blank" title="jQuery">jQuery</a>
			<a href="http://julying.com/jQuery-1.6-api/" target="_blank" title="jQuery 1.6">jQuery 1.6</a>
			<a href="http://lab.julying.com/jQuery-api-1.7/" target="_blank" title="jQuery 1.7">1.7</a>
			<a href="http://www.css88.com/jqapi-1.9/" target="_blank" title="jQuery 1.9">1.9</a>||
			<a href="http://mybatis.github.io/mybatis-3/zh/index.html" target="_blank" title="MyBatis">MyBatis</a>||
			<a href="http://docs.spring.io/spring/docs/3.0.x/api/" target="_blank" title="Spring 3.0">Spring 3.0</a>||
			<a href="http://commons.apache.org/proper/commons-io/apidocs/org/apache/commons/io/FileUtils.html" target="_blank" title="FileUtils">FileUtils</a>||
			<a href="http://php.net/manual/zh/index.php" target="_blank" title="PHP">PHP</a>||
			<a href="http://redis.readthedocs.org/en/latest/" target="_blank" title="redis">redis</a>||
			<a href="http://quartz-scheduler.org/documentation" target="_blank" title="quartz api">quartz document</a></p>
			<p>Tool: <a href="http://www.kekaku.com/tools/js_format/index.html" target="_blank" title="js格式化">js格式化</a>
			<a href="http://www.jslint.com/" target="_blank" title="js格式查错">js格式查错</a>
			<a href="http://www.bootcss.com/p/websafecolors" target="_blank" title="web安全色">web安全色</a>
			<a href="https://www.google.com/webmasters/tools/home" target="_blank" title="google站长工具">google站长工具</a>
			<a href="http://zhanzhang.baidu.com/site/index" target="_blank" title="baidu站长工具">baidu站长工具</a>
			<a href="http://sae.sina.com.cn" target="_blank" title="sae">新浪应用程序引擎</a>
			</p>

          </div>


      </div><!--/row-->

      <hr>

     {%include footer.html%}

    </div><!--/.fluid-container-->

 
  </body>
</html>


